
../Mathias_og_mathias_yay/
Weather_Data/EW_01_07_2020__01_07_2022.nc
Weather_Data/NW_01_07_2020__01_07_2022.nc
Functions/__pycache__/file_handling.cpython-39.pyc
Functions/__pycache__/Force_functions.cpython-39.pyc
Functions/__pycache__/main.cpython-39.pyc
Functions/__pycache__/plot_functions.cpython-39.pyc
Functions/__pycache__/plot_functions.cpython-39.pyc
Functions/__pycache__/route_handling.cpython-39.pyc
Functions/__pycache__/Weather_Handling.cpython-39.pyc
Functions/__pycache__/Weather_Handling.cpython-39.pyc
Functions/__pycache__/route_handling.cpython-39.pyc
Functions/__pycache__/plot_functions.cpython-39.pyc
Functions/__pycache__/Old_route_calc_funcs.cpython-39.pyc
Functions/__pycache__/Force_functions.cpython-39.pyc
Functions/__pycache__/file_handling.cpython-39.pyc
Functions/__pycache__/file_handling.cpython-37.pyc
*.pyc
Functions/__pycache__/file_handling.cpython-39.pyc
Functions/__pycache__/file_handling.cpython-37.pyc
Functions/__pycache__/Force_functions.cpython-37.pyc
Functions/__pycache__/Force_functions.cpython-39.pyc
Functions/__pycache__/plot_functions.cpython-39.pyc
Functions/__pycache__/route_handling.cpython-39.pyc
Functions/__pycache__/Weather_Handling.cpython-37.pyc
Functions/__pycache__/Weather_Handling.cpython-39.pyc
Functions/__pycache__/route_handling.cpython-39.pyc
Functions/__pycache__/plot_functions.cpython-39.pyc
*.pyc
*.pyc
*.pyc
*.pyc
*.pyc
*.pyc
*.pyc
Functions/__pycache__/Force_functions.cpython-39.pyc
*.pyc
Functions/__pycache__/file_handling.cpython-39.pyc
Functions/__pycache__/Force_functions.cpython-39.pyc
Functions/__pycache__/route_handling.cpython-39.pyc
Functions/__pycache__/Weather_Handling.cpython-39.pyc
/Weather_Data/NW_01.07.2020_01.07.2021.nc
/Weather_Data/NW_01.07.2021_01.07.2022.nc
/Weather_Data/EW_01.07.2021_01.07.2022.nc
/Weather_Data/EW_01.07.2020_01.07.2021.nc
Output_files/Trondheim_Ålesund/.DS_Store
Output_files/Trondheim_Ålesund/savespeed_TrondAales.csv
Output_files/Trondheim_Ålesund/saveTWD_TrondAales.csv
Output_files/Trondheim_Ålesund/saveTWS_TrondAales.csv
Output_files/Trondheim_Ålesund/Trondheim_Aalesund_reise
Output_files/Trondheim_Ålesund/Trondheim_Aalesund_reise_2
